<h2>Componente selecciones</h2>
<p>Vamos a evaluar el mostrado de un elemento HTML dependiendo de una seleccion</p>
<input placeholder="Introduce el nombre" class="form-control" [(ngModel)]="nombre" />
<input
  placeholder="Introduce el direccion envio"
  class="form-control mt-3"
  [(ngModel)]="dirEnvio"
/>
<input
  placeholder="Introduce el direccion facturacion"
  class="form-control mt-3"
  [(ngModel)]="dirFacturacion"
/>
<input
  placeholder="Introduce el coste"
  type="number"
  class="form-control mt-3"
  [(ngModel)]="coste"
/>
<select class="form-select mt-3 mb-3" [(ngModel)]="tipoPago">
  <option value="1">Bizum</option>
  <option value="2">Transferencia</option>
  <option value="3">Tarjeta</option>
</select>

@switch (tipoPago) {
  @case ('1') {
    <input class="form-control" placeholder="Introduce telefono" [(ngModel)]="telefono" />
  }
  @case ('2') {
    <input class="form-control" placeholder="Introduce cuenta corriente" [(ngModel)]="cuenta" />
  }
  @case ('3') {
    <input
      class="form-control"
      placeholder="Introduce numero tarjeta"
      [(ngModel)]="numeroTarjeta"
    />
    <input
      class="form-control"
      type="date"
      placeholder="Introduce fecha caducidad"
      [(ngModel)]="fechaCaducidad"
    />
    <input class="form-control" type="number" placeholder="Introduce fecha CVV" [(ngModel)]="cvv" />
  }
}
<!-- <span [ngSwitch]="">
<p *ngSwitchCase="true">

</p>
<p *ngSwitchCase="false">

</p>
<p *ngSwitchDefault>

</p>
</span> -->

<button class="btn btn-primary mt-3" (click)="validarCompra()">Validar</button>

